.pcm-settings table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.pcm-settings tbody {
    display: flex;
    flex-wrap: wrap;
}

.pcm-settings tr {
    width: 23%;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.pcm-settings h2 {
    margin: 3em 0 1em;
}

.pcm-filter {
    display: inline-block;
    margin: 0 20px 0 5px;
}
