.pcm-settings table {
    border-collapse: separate;
    border-spacing: 0 10px;
    display: none;
}

.pcm-settings tr {
    width: 23%;
    min-width: 280px;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
}

.pcm-settings tbody {
    display: flex;
    flex-wrap: wrap;
}

.pcm-settings h2 {
    position: relative;
    background: #0c88b4;
    color: #fff;
    padding: 10px 10px 10px 30px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.pcm-settings h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    left: 12px;
    top: 17px;
}

.pcm-settings h2.collapsed::before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    border-right: 0;
    top: 14px;
}

.pcm-settings input[type=submit] {
    background: #0c88b4;
    font-size: 16px;
    font-weight: bold;
}

.pcm-filter {
    display: inline-block;
    margin: 0 20px 0 5px;
}

.pcm-tabs {
    border-bottom: 1px solid #0c88b4;;
    margin-right: 10px;
    padding-left: 5px;
}

.pcm-tabs .pcm-tab {
    display: inline-block;
    color: #0c88b4;
    vertical-align: top;
    white-space: nowrap;
    margin: 0;
    position: relative;
    top: 1px;
    font-weight: bold;
    font-size: 14px;
}

.pcm-tabs .pcm-tab a {
    text-decoration: none;
    color: #0c88b4;
    padding: 7px;
    border: 1px solid #0c88b4;
    background: #d7e0e3;
    border-radius: 3px 3px 0 0;
    display: inline-block;
}

.pcm-tabs .pcm-tab a:focus, .pcm-tabs .pcm-tab.active a {
    box-shadow: 0 -1px 1px 0 #cccdce;
}

.pcm-tabs .pcm-tab.active a {
    color: #0c88b4;
    background: #f0f0f1;
    border-bottom: #f0f0f1;
    padding-bottom: 8px;
}
